html {
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #38393b;
}

header,
footer {
    margin: 0;
    max-width: 1030px;
    width: 100%;
    height: 4vw;
    max-height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------- Chat Styles -------------------- */

.intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.name, .position {
    margin: .5em 0;
}

.question-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

img {
    border-radius: 50%;
}

.logo {
    margin-right: 7px;
}

p {
    font-size: 1.2em;
    width: 70%;
    margin: 0;
    border-radius: 6px;
    padding: 8px;
}

.question-text {
    background-color: #f1f0f0;
}

.answer-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 300;
    padding: 1rem;
}

.answer-text {
    background-color: #D7CDF5;
}

.me {
    margin-left: 7px;
}

#pic1, #pic2 {
    opacity: 0;
}

@media all and (min-width: 760px) {
    body {
        background-color: #6138D8;
    }
    .screen {
        height: 80vh;
        width: 60vw;
        max-width: 800px;
        border: 1.3rem solid #38393b;
        border-radius: 50px;
        overflow: scroll;
        background-color: white;
        margin-top: 2rem;
    }

    .intro {
        padding-bottom: 3rem;
    }

    .name {
        font-size: 2.7em;
    }
    .position {
        font-size: 2.2em;
        border-bottom: 2px solid #D7CDF5;
    }
    
    p {
        font-size: 1.7em;
    }
}

@media all and (min-width: 1024px) {
    .screen {
        height: 80vh;
        width: 50vw;
    }

    .intro {
        padding-bottom: 4rem;
    }
}

/* -------------------- Contact Styles -------------------- */

.contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.goodbye {
    text-align: center;
    border: 1px solid #D7CDF5;
}

.portfolio-link {
    display: inline-block;
    color: #6138D8;
}

.icon {
    display: flex;
    margin: 2vw;
    color: #38393b;
}

.iconsize {
    font-size: 0.7rem;
}

.iconrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 645px;
    padding: 2rem 0;
}
